# Ignorer un fichier spécifique
instructions.txt
launch.slurm
experiments.py
tests.py
hist_gamma.png
generate_pathfinder.py
generate_pathfinder_bis.py

# Ignorer un dossier entier
checkpoints/
logs/
models/
wandb/
graphs/
images/
snakes/
datasets/generate_pathfinder/

# Ignorer les fichiers de données
data/