# Ignorer un fichier spécifique
instructions.txt
launch.slurm
experiments.py
tests.py

# Ignorer un dossier entier
checkpoints/
logs/
models/
wandb/

# Ignorer les fichiers de données
data/listops_data/
data/cifar10_data/
data/imdb_data/
data/