# Ignorer un fichier spécifique
instructions.txt
launch.slurm
experiments.py

# Ignorer un dossier entier
checkpoints/
logs/
results/
wandb/

# Ignorer les fichiers de données
listops_data/
cifar10_data/